@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Zen+Tokyo+Zoo&family=Tourney&family=Titillium+Web:wght@400;600&display=swap');

body{
    font-family: 'Bona Nova', serif;
    margin: 0;
    border-left: 15px solid transparent;
    border-image: linear-gradient(red, rgb(221, 0, 221), rgb(255, 107, 70), rgb(255, 0, 0)) 1;
}
h1{
    font-family: 'Titillium Web', serif;
    font-weight: 600;
}
h2{
    font-family: 'Titillium Web', serif;
}
h3{
    font-family: 'Titillium Web', serif;
}
h4{
    font-family: 'Titillium Web', serif;
}

section{
    padding: 100px 0;
}
.home-container{
    display: flex;
}
.home{
    width: 50%;
    padding: 0 50px 50px 100px;
}
.home h1{
    font-size: 40px;
}
#myName{
    font-family: 'Tourney', sans-serif;
    color: #da0050;
    font-size: 50px;
}
.home h3{
    font-size: 20px;
}
.home p{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 50px;
    width: 90%;
}
.home a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background: linear-gradient(to right, #fe5c97, #fa767b);
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px #ff005db0;
}


.home-img{
    width: 50%;
    margin-top: 20px;
    padding-left: 50px;
}
.home-img img{
    width: 80%;
}



.aboutMe{
    color: #da0050;
    text-align: center;
    font-size: 50px;
    font-family: 'Zen Tokyo Zoo';
    font-weight: 400;
}

.dream-container{
    display: flex;
}
.dream-container h1{
    font-size: 40px;
}
.dream-img{
    width: 50%;
    text-align: right;
    padding-right: 50px;
}
.dream-img img{
    width: 80%;
}
.dream-description{
    width: 50%;
    padding: 20px 50px;
}
.dream-description p{
    width: 90%;
    margin-bottom: 40px;
    text-align: justify;
}
.dream-description a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, #c520e4, #f7869d);
    padding: 10px 40px;
    border-radius: 10px;
}


.education-cards{
    display: flex;
    padding: 0 60px;
}
.edu-card{
    width: 50%;
    background: whitesmoke;
    background: linear-gradient(to right bottom, white, whitesmoke, rgb(235, 235, 235));
    border-radius: 10px;
    border-left: 7px solid transparent;
    box-shadow: 0 0 50px rgb(190, 190, 190);
    margin: 40px;
    padding: 20px 30px;
}
.edu-card.first-edu{
    border-image: linear-gradient(rgb(202, 0, 0), rgb(255, 138, 71)) 1;
}
.edu-card.second-edu{
    border-image: linear-gradient(rgb(153, 0, 255), red) 1;
}
.edu-card h4{color: rgb(219, 33, 0);}





.experience-container .heading{
    text-align: center;
    font-size: 50px;
}
.experience-cards{
    display: flex;
    padding: 0px 60px;
}
.exp-card{
    width: 50%;
    background: linear-gradient(to right bottom, white, whitesmoke, rgb(255, 226, 226));
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(190, 190, 190);
    margin: 40px;
    padding: 20px 30px;
}
.exp-card.first-exp{
    border-left: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to right bottom, purple, tomato) 1;
}
.exp-card.second-exp{
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid transparent;
    border-image: linear-gradient(to right bottom, #ff3c00, #aa0050, #c520e4) 1;
}
.exp-card h2{
    font-size: 30px;
    font-family: 'Titillium Web', serif;
}
.exp-card h3{
    font-size: 20px;
    color: #ff1a6e;
    font-family: 'Titillium Web', serif;
}
.exp-card p{
    font-size: 17px;
    text-align: justify;
}